* {
	font-family: 'Poppins', sans-serif;
}
body {
	margin: 0;
}
h1 {
	font-size: 50px;
}
.or-color {
	color: orange;
}

.flexible-container {
	display: flex;
	margin-bottom: 100px;
}
.half-width {
	width: 50%;
	padding-left: 5%;
}
.half-width img {
	width: 100%;
}
.link-btn {
	text-decoration: none;
	padding: 10px 40px;
	background-image: linear-gradient(orange, tomato);
	color: #fff;
	font-weight: 700;
	border-radius: 5px;
}
.top-banner {
	background-image: url("../img/top-banner.png");
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
.dream-big {
	background-image: url("../img/dream-bg.png");
	background-repeat: no-repeat;
	background-position: right;
}

.experience-area {
	background-image: url("../img/exp-bg.png");
	background-repeat: no-repeat;
	background-position: left;
}

.experience-item {
	box-shadow: 10px 10px 40px gray;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 20px;
	padding-left: 50px;
	border-radius: 5px;
}
h2 {
	font-size: 40px;
}
#border-1 {
	border-image: linear-gradient(blue, cyan);
	border-image-slice: 1;
	border-left: 10px solid;
}

#border-2 {
	border-image: linear-gradient(orange, tomato);
	border-image-slice: 1;
	border-left: 10px solid;
}
footer p {
	text-align: center;
}
